{% extends "base.html" %}

{% block content %}
  <div style="padding: 15px">
    <h1 style="font-size: 50px;">Admin</h1>

    <br>

    <h1 style="font-size: 35px">Add New Film</h1>
    <form method="POST" action="" name="addFilmForm" style="opacity:1">
        {{ addFilmForm.hidden_tag() }}
        {{ addFilmForm.imdb_id(placeholder='Imdb ID') }}
        <input style="font-size: 14px;" class="btn btn-dark" type="submit" value="Add Film">
    </form>
    <h1 style="font-size: 35px">All Films</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Total Earnings</th>
            <th>Earnings per screening</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
            {% set count = namespace(value = 0) %}
            {% for film in films %}
            <tr>
            <td>{{film.title}}</td>
            <td>{{ "£%.2f" | format(totalRevenues[count.value]) }}</td>
            <td>{{ "£%.2f" | format(avrgRevenues[count.value]) }}</td>
            <td><a href="/viewFilmDetails/{{film.id}}"><button type="button" class="btn btn-dark">View Ticket Details</button></a></td>
            <td><a href="/adminScreenings/{{film.id}}"><button type="button" class="btn btn-dark">View/Edit/Add Screenings</button></a></td>
            <td><a href="/removeFilm/{{film.id}}"><button type="button" class="btn btn-warning">Remove Film</button></a></td>
            </tr>
            {% set count.value = count.value + 1 %}
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}