{% extends "base.html" %}

{% block content %}
  <head>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <!--chart.js plugin-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>

  <body>

    <div style="padding: 1vw">
      <h1 style="font-size: 3vw;">{{ filmTitle }} Ticket Details</h1>
      <br>
      
      <form method="POST" action="" name="compareForm" style="opacity:1; font-size: 1.1vw;">
        {{ compareForm.hidden_tag() }}
        Compare with: {{ compareForm.compare }}
        <input style="font-size: 0.8vw;" class="btn btn-dark" type="submit" value="Compare">
      </form>
      
      <div style="display: flex">
        <div>
          <div style="font-size: 1.3vw; padding-top: 1vw">Total tickets sold to date: 
            {{ totalData[3] }}
          </div>
          <canvas style="padding-left: 0.1vw; max-width: 45vw; max-height: 30vw;" id="totalLineGraph" width="1000" height="700"></canvas>
          <div style="padding-top: 1.5vw"></div>
        </div>
        <div style="padding-right: 6vw"></div>
        {% if cmpTitle != 'None' %}
        <div>
          <div style="font-size: 1.3vw; padding-top: 20px">{{ cmpTitle }}: 
            {{ cmpTotalData[3] }}
          </div>
          <canvas style="padding-left: 0.1vw; max-width: 45vw; max-height: 30vw" id="cmpTotalLineGraph" width="1000" height="700"></canvas>
          <div style="padding-top: 1.5vw"></div>
        </div>
        {% endif %}
      </div>

      <div style="display: flex">
        <div>
          <h1 style="font-size: 1.3vw;">Total tickets sold in the past week: {{ weekData[3] }}</h1>
          <canvas style="padding-left: 0.1vw; max-width: 45vw; max-height: 30vw" id="ticketsBarGraph" width="1000" height="700"></canvas>      
          <div style="padding-top: 1.5vw"></div>
        </div>
        <div style="padding-right: 6vw"></div>
        {% if cmpTitle != 'None' %}
        <div>
          <h1 style="font-size: 1.3vw;">{{ cmpTitle }}: {{ cmpWeekData[3] }}</h1>
          <canvas style="padding-left: 0.1vw; max-width: 45vw; max-height: 30vw" id="cmpTicketsBarGraph" width="1000" height="700"></canvas>      
          <div style="padding-top: 1.5vw"></div>
        </div>
        {% endif %}
      </div>

      <div style="display: flex">
        <div>
          <h1 style="font-size: 1.3vw;">Tickets sold in a specific time frame:</h1>
          <form method="POST" action="" name="filmInfoForm" style="opacity:1">
            {{ filmInfoForm.hidden_tag() }}
            Start date: {{ filmInfoForm.startDate }}
            End date: {{ filmInfoForm.endDate }}
            <input style="font-size: 0.9vw;" class="btn btn-dark" type="submit" value="Apply">
          </form>
          <div style="font-size: 1.1vw;">Tickets sold from {{ tfData[0][0] }} to {{tfData[0][(tfLabels|length) - 1]}}:  
            {{ tfData[3] }}
          </div>
          <canvas style="padding-left: 0.1vw; max-width: 45vw; max-height: 30vw" id="tfLineGraph" width="1000" height="700"></canvas>
        </div>
        <div style="padding-right: 6vw"></div>
        {% if cmpTitle != 'None' %}
        <div>
          <div style="padding-top: 3.7vw"></div>
          <div style="font-size: 1.1vw;">{{ cmpTitle }}: {{ cmpTfData[3] }}</div>
          <canvas style="padding-left: 0.1vw; max-width: 45vw; max-height: 30vw" id="cmpTfLineGraph" width="1000" height="700"></canvas>
        </div>
        {% endif %}
      </div>

      <div style="padding-top: 2vw"></div>
    </div>


    <script>

      // totals line chart data
      var lineData = {
        labels : [
          {% for item in totalData[0] %}
            "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [
	          {% for item in totalData[1] %}
              {{ item }},
            {% endfor %}]
          }
	      ]
      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

      // get line chart canvas
      var mychart = document.getElementById("totalLineGraph").getContext("2d");

      steps = 10
      max = {{ totalData[2] }}
      // draw line chart
      var LineChartDemo = new Chart(mychart).Line(lineData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });

    </script>

<script>

    // totals line chart data
    var lineData = {
      labels : [
        {% for item in cmpTotalData[0] %}
          "{{ item }}",
        {% endfor %}
      ],

      datasets : [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve : false,
        data : [
            {% for item in cmpTotalData[1] %}
            {{ item }},
          {% endfor %}]
        }
        ]
    }

    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;

    // get line chart canvas
    var mychart = document.getElementById("cmpTotalLineGraph").getContext("2d");

    steps = 10
    max = {{ cmpTotalData[2] }}
    // draw line chart
    var LineChartDemo = new Chart(mychart).Line(lineData, {
      scaleOverride: true,
      scaleSteps: steps,
      scaleStepWidth: Math.ceil(max / steps),
      scaleStartValue: 0,
      scaleShowVerticalLines: true,
      scaleShowGridLines : true,
      barShowStroke : true,
      scaleShowLabels: true,
      bezierCurve: false,
    });

  </script>

    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in weekData[0] %}
          "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        data : [
          {% for item in weekData[1] %}
            "{{ item }}",
          {% endfor %}
        ]
        }
        ]
      }

      // get bar chart canvas
      var mychart = document.getElementById("ticketsBarGraph").getContext("2d");

      steps = 10
      max = {{weekData[2]}}

      // draw bar chart
      new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
      }
      );

    </script>

<script>
    // bar chart data
    var barData = {
      labels : [
        {% for item in cmpWeekData[0] %}
        "{{ item }}",
        {% endfor %}
      ],

      datasets : [{
      fillColor: "rgba(151,187,205,0.2)",
      strokeColor: "rgba(151,187,205,1)",
      pointColor: "rgba(151,187,205,1)",
      data : [
        {% for item in cmpWeekData[1] %}
          "{{ item }}",
        {% endfor %}
      ]
      }
      ]
    }

    // get bar chart canvas
    var mychart = document.getElementById("cmpTicketsBarGraph").getContext("2d");

    steps = 10
    max = {{cmpWeekData[2]}}

    // draw bar chart
    new Chart(mychart).Bar(barData, {
      scaleOverride: true,
      scaleSteps: steps,
      scaleStepWidth: Math.ceil(max / steps),
      scaleStartValue: 0,
      scaleShowVerticalLines: true,
      scaleShowGridLines : true,
      barShowStroke : true,
      scaleShowLabels: true
    }
    );

  </script>

    <script>

      // tf line chart data
      var lineData = {
        labels : [
          {% for item in tfData[0] %}
            "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [
	          {% for item in tfData[1] %}
              {{ item }},
            {% endfor %}]
          }
	      ]
      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

      // get line chart canvas
      var mychart = document.getElementById("tfLineGraph").getContext("2d");

      steps = 10
      max = {{ tfData[2] }}
      // draw line chart
      var LineChartDemo = new Chart(mychart).Line(lineData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });

    </script>

<script>

    // tf line chart data
    var lineData = {
      labels : [
        {% for item in cmpTfData[0] %}
          "{{ item }}",
        {% endfor %}
      ],

      datasets : [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve : false,
        data : [
            {% for item in cmpTfData[1] %}
            {{ item }},
          {% endfor %}]
        }
        ]
    }

    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;

    // get line chart canvas
    var mychart = document.getElementById("cmpTfLineGraph").getContext("2d");

    steps = 10
    max = {{ cmpTfData[2] }}
    // draw line chart
    var LineChartDemo = new Chart(mychart).Line(lineData, {
      scaleOverride: true,
      scaleSteps: steps,
      scaleStepWidth: Math.ceil(max / steps),
      scaleStartValue: 0,
      scaleShowVerticalLines: true,
      scaleShowGridLines : true,
      barShowStroke : true,
      scaleShowLabels: true,
      bezierCurve: false,
    });

  </script>
  
    <script>
      $(document).ready(function(){
        var date_input=$('input[name="endDate"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
          format: 'dd/mm/yyyy',
          weekStart: 1,
          container: container,
          todayBtn: "linked",
          todayHighlight: true,
          autoclose: true,
        };
        date_input.datepicker(options);
      })
    </script>

    <script>
      $(document).ready(function(){
        var date_input=$('input[name="startDate"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
          format: 'dd/mm/yyyy',
          weekStart: 1,
          container: container,
          todayBtn: "linked",
          todayHighlight: true,
          autoclose: true,
        };
        date_input.datepicker(options);
      })
    </script>
  </body>
{% endblock %}